{%- for i in range(count) %}
resource "aws_api_gateway_rest_api" "{{i}}" {
  name  = "${local.api_gateway_{{i}}_name}"
  count = "${local.api_gateway_{{i}}_count}"
}

resource "aws_api_gateway_resource" "{{i}}" {
  rest_api_id = "${local.api_gateway_{{i}}_id}"
  parent_id   = "${local.api_gateway_{{i}}_id}"
  path_part   = "${local.TODODODOD}"
}

resource "aws_api_gateway_method" "{{i}}" {
  rest_api_id = "${local.api_gateway_{{i}}_id}"
  resource_id = "${aws_api_gateway_resource.{{i}}.id}"
  http_method = "${local.TODODODOD}"
}

resource "aws_api_gateway_integration" "{{i}}" {
  rest_api_id = "${local.api_gateway_{{i}}_id}"
  resource_id = "${aws_api_gateway_method.proxy.resource_id}"
  http_method = "${aws_api_gateway_method.proxy.http_method}"

  integration_http_method = "POST"
  type                    = "AWS_PROXY"
  uri                     = "${aws_lambda_function.example.invoke_arn}"
}
{%- endfor %}
